<!--
/**
 * Madmytrych_NovaPost
 * MIT license
 */
-->
<!-- ko if: isNovaPostMethodSelected() -->
<input class="admin__control-text" type="text"
        data-bind="
        mageInit: {'novaPostSearch':{
       'formSelector':uid,
       'dataRef':'data-street-ref',
       'minSearchLength':1,
       'url':'/graphql',
       'warehouseWidget': true,
       'destinationSelector':'#street_results'}
        },
        event: {change: userChanges},
        value: value,
        hasFocus: focused,
        valueUpdate: valueUpdate,
        attr: {
            'data-city-ref': cityRef(),
            'data-street-ref': streetRef(),
            name: inputName,
            placeholder: placeholder,
            'aria-describedby': noticeId,
            id: uid,
            disabled: cityRef() ? false : true,
            maxlength: 255
    }" />
<div id="street_results" class="search-autocomplete"></div>
<!-- /ko -->
<!-- ko ifnot: isNovaPostMethodSelected() -->
<input class="admin__control-text" type="text"
       data-bind="
        event: {change: userChanges},
        value: value,
        hasFocus: focused,
        valueUpdate: valueUpdate,
        attr: {
            name: inputName,
            placeholder: placeholder,
            'aria-describedby': noticeId,
            id: uid,
            disabled: disabled,
            maxlength: 255
    }"/>
<!-- /ko -->
