<?xml version="1.0"?>
<!--
/**
 * Madmytrych_NovaPost
 * MIT license
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
<router id="standard">
            <route id="novapost" frontName="novapost">
                <module name="Madmytrych_NovaPost" />
            </route>
    </router>
</config>
