<?xml version="1.0"?>
<!--
/**
 * Madmytrych_NovaPost
 * MIT license
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="madmytrych_novapost" translate="label" type="text" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Nova Post</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Title</label>
                </field>
                <field id="name" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Method Name</label>
                </field>
                <field id="shipping_cost" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Shipping Cost</label>
                </field>
                <field id="sallowspecific" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Method if Not Applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_class>shipping-skip-hide</frontend_class>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Sort Order</label>
                </field>
                <group id="credentials" translate="label" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                    <depends>
                        <field id="carriers/madmytrych_novapost/active">1</field>
                    </depends>
                    <label>Account API Credentials</label>
                    <frontend_model>Magento\QuickCheckout\Block\Adminhtml\System\Config\Fieldset\Custom</frontend_model>
                    <fieldset_css>quickcheckout-custom-group</fieldset_css>
                    <field id="api_key" translate="label" sortOrder="10" type="obscure" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Key</label>
                        <config_path>carriers/madmytrych_novapost/api_key</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <validate>required-entry</validate>
                    </field>
                    <field id="api_url" translate="label" sortOrder="20" type="text" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>API URL</label>
                        <config_path>carriers/madmytrych_novapost/api_url</config_path>
                        <validate>required-entry</validate>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
